{{ $style := resources.Get "home.css" }}
{{ $script := resources.Get "home.js" }}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sam I Am. Am I Sam? I Am Sam. something about green eggs and...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <script src="{{ $script.Permalink }}"></script>

    <div id="page">
      <header>
        <h1 id="greeting">Hey.</h1>
      </header>

      <section id="muh_face">
        <img src="https://www.gravatar.com/avatar/8dae60b28cd51f8fd5001ff42e798e06?s=200" />
      </section>

      <section id="me">
        <h2>I'm Sam.</h2>
        And I
        <span id="fact">
          am a Homo sapien.
        </div>
      </section>
    </div>

    <footer>
      <a href="mailto:me@samcday.com">me@samcday.com</a> | 
      <a href="https://www.github.com/samcday" target="_blank">My codez</a> |
      <!--<a href="https://samcday.com/blog">Words</a> |-->
      <a href="https://www.linkedin.com/in/samcday/" target="_blank">Recruiter spam</a>
    </footer>
  </body>
</html>
