{{ $style := resources.Get "home.css" }}
{{ $script := resources.Get "home.js" }}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sam I Am. Am I Sam? I Am Sam. something about green eggs and...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <script src="{{ $script.Permalink }}"></script>

    <div id="page">
      <header>
        <h1><noscript>Hey.</noscript><script>greeting();</script></h1>
      </header>

      <section id="me">
        <img id="muh_face" src="https://www.gravatar.com/avatar/8dae60b28cd51f8fd5001ff42e798e06?s=200" />
        <h2>I'm Sam.</h2>
      </section>

      <section id="about">
        
        <div id="facts_container">
          <div class='overlay_top'></div><div class='overlay_bottom'></div>
          <div id="facts">
            <span class="item">am a human.</span>
            <span class="item">have completed 29 trips around the sun, and this is a really long sentence I wonder what will happen.</span>
            <span class="item">like eating bacon, sometimes.</span>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <a href="https://www.github.com/samcday" target="_blank">Codez</a> |
      <!--<a href="https://samcday.com/blog">Words</a> |-->
      <a href="https://www.linkedin.com/in/samcday/" target="_blank">Recruiter spam</a>
    </footer>
  </body>
</html>
