{{ $style := resources.Get "home.css" }}
{{ $script := resources.Get "home.js" }}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sam I Am. Am I Sam? I Am Sam. something about green eggs and...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <script src="{{ $script.Permalink }}"></script>

    <header>
      <h1><noscript>Hey.</noscript><script>greeting();</script></h1>
    </header>

    <section id="about">
      <img id="muh_face" src="https://www.gravatar.com/avatar/8dae60b28cd51f8fd5001ff42e798e06?s=200" />
      <h2>I'm Sam, and I...</h2>
      <div id="facts">
        <div class="overlay"></div>
        ... am a human.<br/>
        ... have completed 29 trips around the sun.<br/>
        ... like eating bacon, sometimes.
      </div>
    </section>

    <footer>
      <a href="https://www.github.com/samcday" target="_blank">Codez</a> |
      <!--<a href="https://samcday.com/blog">Words</a> |-->
      <a href="https://www.linkedin.com/in/samcday/" target="_blank">Recruiter spam</a>
    </footer>
  </body>
</html>
