@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #111133;
}

a {
  color: #113f67;
  text-decoration: none;
  font-weight: bold;
}

header {
  font-size: 1.7rem;
  text-align: center;
}

header h1 {
    margin: 1rem;
    position: relative;
  }

header h1 :after {
      content: "lol";
      color: black;
    }

#page {
  height: calc(100vh - 1.5rem)
}

@media (max-width: 576px) {

#page {
    margin-top: 3rem
}
  }

@media (min-width: 576px) {

#page {
    display: flex;
    flex-direction: column;
    justify-content: center
}
  }

#me {
  text-align: center;
}

#me img {
    border-radius: 50%;
    border: 2px solid black;
  }

#me h2 {

  }

@media (max-width: 576px) {

#me {
    margin: 0 auto
}
  }

#about {
  text-align: center
}

@media (min-width: 576px) {

#about {
    display: flex;
    justify-content: center;
    align-items: center
}
  }

#about h2 {
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0.5rem 1.5rem;
    display: inline-block;
    vertical-align: text-bottom;
  }

#facts_container {
  position: relative;
  min-width: 400px;
  display: inline-block;
  text-align: left;
  height: 6rem;
  margin: 1rem 0;
}

#facts_container :before {
    content  : "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1rem;
    height: 3rem;
    pointer-events: none;
    background: linear-gradient( 
                    rgba(255,255,255, 255),
                    rgba(255,255,255, 0));
  }

#facts_container :after {
    content  : "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    height: 3rem;
    pointer-events: none;
    background: linear-gradient( 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 255));
  }

#facts {
  position: absolute;
}

#facts .item {
    display: block;
    min-height: 2rem;
    margin: 0.5rem 0;
  }

footer {
  position: fixed;
  bottom: 0;
  font-size: 0.8rem;
  height: 1.5rem;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

